<div id="<%= dom_id blog_livro %>">
  <p>
    <strong>Titulo:</strong>
    <%= blog_livro.tittle %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= blog_livro.author %>
  </p>

  <p>
    <strong>Nota para o livro :</strong>
    <%= blog_livro.noteforthebook %>
  </p>

  
  <p>
    <strong>Descrição:</strong>
    <%= blog_livro.description %>
  </p>
  

</div>
